@charset "ISO-8859-1";
td, th {
  border: 1px solid #e4e4e4;
  text-align: center;
  padding: 3px;
} 
.hbody {
	/* background-image: url('../img/service2.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
		
}
.table { 
	/* background-color:rgb(212, 212, 212); */
font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px;
    margin-left: 1px;
    opacity:0.9;
 }
 p{
 color: black;
 font-family: arial, sans-serif;
 }
.vcontt{
	background-color:rgb(238, 238, 238);
		width: 700px;
		border: 15px black;
		font: 16px;
		padding: 20px 12px 10px 20px;
		outline-style: double;
		outline-color: black;
		float:center;
		opacity:0.8;
		margin: 0 auto; 
		text-align: center;
	
}
.vbody {
/* background-image: url('../img/grey2.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:100vh;
  position:relative;
		
}
#form_button {
	width: 30%;
	height:10%;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.975em;
  outline: none;
  padding: 10px 10px;
  text-transform: uppercase;
  
}

.capitalize{
	color: black;
}
.formcontent{
	margin: 0 auto; 
	width:800px;
	text-align: left;
	background-color:rgb(238, 238, 238);
	opacity:0.8;
	padding: 20px 12px 10px 20px;
	
	border: 7px black;
	outline-color: black;
	outline-style: groove;
}

.ubody {
/* background-image: url('../img/grey2.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:100vh;
  position:relative;
		
}

.dbody {
/* background-image: url('../img/grey2.jpg');  */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:100vh;
  position:relative;
		
}

.form-control{
	width: 60%;
	background-color:rgb(238, 238, 238);
	border: 1px;
    margin-left: 10px;
    opacity:0.9;
}

  .reportform{
		background-color:#e4e4e4;
	width: 400px;
	border: 7px black;
	font: 13px "";
	padding: 20px 12px 10px 20px;
	outline-color: black;
	outline-style: groove;
	opacity:0.9;
	float:center;
		margin: 0 auto; 
		text-align: center;
  }
  
#myInput {
  width: 50%;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-left: 20px;
}
  
  