@charset "ISO-8859-1";
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 3px;
} 
.hbody {
  background-image: url('../img/service2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
		
}
table { background-color:#C0C0C0;
font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    border: 1px;
    margin-left: 10px;
    opacity:0.9;
 }
 p{
 color: black;
 font-family: arial, sans-serif;
 }
.vcontt{
	background-color:#C0C0C0;
		width: 700px;
		border: 15px black;
		font: 16px;
		padding: 20px 12px 10px 20px;
		outline-style: double;
		outline-color: black;
		float:center;
		opacity:0.8;
		margin: 0 auto; 
		text-align: center;
	
}
.vbody {
  background-image: url('../img/admin.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:100vh;
  position:relative;
		
}


.capitalize{
	color: black;
}
.formcontent{
	margin: 0 auto; 
	width:800px;
	text-align: left;
	background-color:#f0f5f5;
	opacity:0.8;
	padding: 20px 12px 10px 20px;
}
.form{
		
		width: 700px;
		border: 15px black;
		margin: 20px;
		font: 16px;
		padding: 20px 12px 10px 20px;
		outline-style: double;
		outline-color: black;
		float:center;
		
	}

.ubody {
  background-image: url('../img/update.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:100vh;
  position:relative;
		
}

.dbody {
  background-image: url('../img/delete.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:100vh;
  position:relative;
		
}

.form-control{
	width: 60%;
	background-color:#f0f5f5;
	border: 1px;
    margin-left: 10px;
    opacity:0.9;
}