@charset "ISO-8859-1";

form{
	background-color:rgb(231, 235, 239);
	width: 60%;
	border: 7px black;
	margin: 20px;
	font: 13px "";
	padding: 20px 12px 10px 20px;
	outline-color: black;
	outline-style: groove;
	float:center;
	opacity:0.9;
}
div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
body {
  background-image: url('../img/grey3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height:100vh;
  position:relative;
		
}
#form_button {
	width: 30%;
	height:20%;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.975em;
  outline: none;
  padding: 10px 10px;
  text-transform: uppercase;
  
}
input, select, textarea {
font-size: 150%;
}
input[type="radio"]{
  margin: 0 10px 0 10px;
}